*{  
    text-decoration: none !important;
    margin: 0;
    padding: 0;
}
body{
    background-image: url(./imgs/background.jpg);
    background-position: 115px 0px;
}

#unique{
    position: fixed;
    width: 100%;
    z-index: 10;
}
.containerx{
    background-image: linear-gradient(to bottom, black, gray);
}
.menu-container{
    display: grid;
    grid-template-columns: 60% 8% 8% 8% 8% 8%;
    align-items: center;
    font-family: 'Michroma';
    font-size: 0.85em;
    list-style-type: none;
}
.logopag{
    margin: 5px 0 5px 5px;
    width: 3.5em;
}
.menu-container .inicio{
    margin-left: 60px;
    justify-self: start;
    grid-column-start: 2;
}
.menu-container .nosotros{
    justify-self: center;
    grid-column-start: 3;
}
.menu-container .proyectos{
    justify-self: center;
    grid-column-start: 4;
}
.menu-container .servicios{
    margin-left: 10px;
    justify-self: center;
    grid-column-start: 5;
}
.menu-container .contacto{
    justify-self: center;
    grid-column-start: 6;
}
.menu-container a{
    font-size: 15px;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    transition: font-size 0.5s;
}
#index{
    background-color: rgba(10, 20, 30, 0);
}
.menu-container li a:hover {
    color: gold;
    font-size: 15.5px;

    animation-name: un_efecto;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 2s;
    animation-delay: 0s;
}
@keyframes un_efecto{
    0%{ font-size: 15.5px; }
    10%{ font-size: 16px; }
    20%{ font-size: 16.5px; }
    30%{ font-size: 17px; }
    40%{ font-size: 17.5px; }
    50%{ font-size: 18px; }
    60%{ font-size: 17.5px; }
    70%{ font-size: 17px; }
    80%{ font-size: 16.5px; }
    90%{ font-size: 16px; }
    100%{ font-size: 15.5px; }
} 





.tiulo-container{
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    transform: translateY(100px);
}
.titulo__pag{
    grid-row: 1 / 2;
    font-family: 'Electrolize';
    font-size: 120px;
    color: white;
    margin-top: 11%;
    margin-left: 5%;
    width: 95%;
    animation-name: move-right;
    animation-duration: 3s;
    animation-delay: 0s;
}
@keyframes move-right{
    0%{ margin-left: 100%; }
} 



.titulo__subpag{
    grid-row: 2 / -1;
    font-family: 'Michroma';
    font-size: 34px;
    color: white;
    margin-left: 45%;
    margin-bottom: 10%;
    animation-name: move-left;
    animation-duration: 3s;
    animation-delay: 0s;
}
@keyframes move-left{
    0%{ margin-left: 0%; }
}



.footer{
    transform: translateY(36%);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
}

.dev1{
    grid-column: 1 / 2;
    margin-left: 10%;
}
.dev2{
    position: absolute;
    grid-column: 1 / 2;
    justify-self: center;
}

#redes{
    grid-column: 3 / 4;
    justify-self: end;
    align-self: end;
    margin-right: 5%;
}
#copyright{
    grid-column: 2 / 3;
    justify-self: center;
    align-self: end;
    margin-top: 0%;
    color: white;
}
.copyright--uppercase{
    text-transform: uppercase;
}

@media screen and ( max-width: 412px){
    .menu-container{
        display: grid;
        grid-template-columns: 5% 19% 19% 19% 19% 19%;
        font-family: 'Michroma';
        list-style-type: none;
    }
    
    .menu-container .inicio{
        justify-self: end;
        align-self: start;
        grid-column-start: 2;
    }
    .menu-container .nosotros{
        justify-self: center;
        align-self: start;
        grid-column-start: 3;
    }
    .menu-container .proyectos{
        justify-self: center;
        align-self: start;
        grid-column-start: 4;
    }
    .menu-container .servicios{
        margin-left: 10px;
        justify-self: center;
        align-self: start;
        grid-column-start: 5;
    }
    .menu-container .contacto{
        justify-self: center;
        align-self: start;
        grid-column-start: 6;
    }

    .menu-container a{
        font-size: 6px;
        font-weight: bold;
        color: black;
    }

    .logopag{
        margin: 5px 0 5px 5px;
        width: 3em;
    }

    .tiulo-container{
        display: grid;
        grid-template-rows: 80% 20%;
        row-gap: 10px;
        transform: translateY(0%);
    }
    .titulo__pag{
        margin: 0;
        grid-row: 1 / 2;
        font-family: 'Electrolize';
        font-size: 50px;
        color: white;
        justify-self: right;
    }
    .titulo__subpag{
        grid-row: 2 / -1;
        font-family: 'Michroma';
        font-size: 15px;
        color: white;
        margin-top: 10%;
        
    }
    
    .footer{
        transform: translateY(50%);
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        row-gap: 35px;
    }

    .dev1{
        grid-column: 1 / 2;
        margin-left: 10%;
        width: 80%;
    }
    .dev2{
        position: absolute;
        grid-column: 2 / 3;
        justify-self: center;
        width: 80%;
    }

    #redes{display: flex;
        flex-direction: column;
        grid-column: 3 / 4;
        justify-self: center;
        align-self: center;
        margin-right: 5%;
    }
    #copyright{
        grid-column: 1 / 4;
        justify-self: center;
        align-self: end;
        color: white;
    }
    .copyright--uppercase{
        text-transform: uppercase;
        font-size: 8px;
        text-align: center;
    }
}

@media screen and (max-width: 549px) and (min-width: 413px){
    .menu-container{
        display: grid;
        grid-template-columns: 5% 19% 19% 19% 19% 19%;
        font-family: 'Michroma';
        list-style-type: none;
    }
    
    .menu-container .inicio{
        justify-self: end;
        align-self: center;
        grid-column-start: 2;
    }
    .menu-container .nosotros{
        justify-self: center;
        align-self: center;
        grid-column-start: 3;
    }
    .menu-container .proyectos{
        justify-self: center;
        align-self: center;
        grid-column-start: 4;
    }
    .menu-container .servicios{
        margin-left: 10px;
        justify-self: center;
        align-self: center;
        grid-column-start: 5;
    }
    .menu-container .contacto{
        justify-self: center;
        align-self: center;
        grid-column-start: 6;
    }

    .menu-container a{
        font-size: 8px;
        font-weight: bold;
        color: black;
    }

    .logopag{
        margin: 5px 0 5px 5px;
        width: 3em;
    }

    .tiulo-container{
        display: grid;
        grid-template-rows: 80% 20%;
        row-gap: 40px;
        transform: translateY(10%);
    }
    .titulo__pag{
        margin: 0;
        grid-row: 1 / 2;
        font-family: 'Electrolize';
        font-size: 50px;
        color: white;
        justify-self: center;
    }
    .titulo__subpag{
        grid-row: 2 / -1;
        font-family: 'Michroma';
        font-size: 15px;
        color: white;
        margin-top: 10%;
        
    }
    
    .footer{
        transform: translateY(60%);
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        row-gap: 35px;
    }

    .dev1{
        grid-column: 1 / 2;
        margin-left: 10%;
    }
    .dev2{
        position: absolute;
        grid-column: 2 / 3;
        justify-self: center;
    }

    #redes{display: flex;
        flex-direction: column;
        grid-column: 3 / 4;
        justify-self: center;
        align-self: center;
        margin-right: 5%;
    }
    #copyright{
        grid-column: 1 / 4;
        justify-self: center;
        align-self: end;
        color: white;
    }
    .copyright--uppercase{
        text-transform: uppercase;
        font-size: 10px;
    }
}

@media screen and (max-width: 720px) and (min-width: 550px){
    .menu-container{
        display: grid;
        grid-template-columns: 5% 19% 19% 19% 19% 19%;
        font-family: 'Michroma';
        list-style-type: none;
    }
    
    .menu-container .inicio{
        justify-self: end;
        align-self: center;
        grid-column-start: 2;
    }
    .menu-container .nosotros{
        justify-self: center;
        align-self: center;
        grid-column-start: 3;
    }
    .menu-container .proyectos{
        justify-self: center;
        align-self: center;
        grid-column-start: 4;
    }
    .menu-container .servicios{
        margin-left: 12px;
        justify-self: center;
        align-self: center;
        grid-column-start: 5;
    }
    .menu-container .contacto{
        justify-self: center;
        align-self: center;
        grid-column-start: 6;
    }

    .menu-container a{
        font-size: 10px;
        font-weight: bold;
        color: black;
    }

    .logopag{
        margin: 5px 0 5px 5px;
        width: 3em;
    }

    .tiulo-container{
        display: grid;
        grid-template-rows: 80% 20%;
        row-gap: 40px;
        transform: translateY(20%);
    }
    .titulo__pag{
        margin: 0;
        grid-row: 1 / 2;
        font-family: 'Electrolize';
        font-size: 50px;
        color: white;
        justify-self: center;
    }
    .titulo__subpag{
        grid-row: 2 / -1;
        font-family: 'Michroma';
        font-size: 15px;
        color: white;
        margin-top: 10%;
        
    }
    
    .footer{
        transform: translateY(70%);
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, auto);
        row-gap: 23%;
    }

    .dev1{
        grid-column: 2 / 3;
        margin-left: 10%;
        
        justify-self: center;
    }
    
    .dev2{
        position: absolute;
        grid-column: 3 / 4;
        justify-self: center;
    }

    #redes{display: flex;
        flex-direction: row;
        grid-column: 2 / 4;
        grid-row: 2 / 3;
        justify-self: center;
        align-self: center;
        margin-left: 15px;
    }
    #copyright{
        grid-column: 1 / 5;
        justify-self: center;
        align-self: center;
        color: white;
    }
    .copyright--uppercase{
        text-transform: uppercase;
        font-size: 10px;
    }
}

@media screen and (max-width: 1366px) and (min-width: 721px){
    .menu-container{
        display: grid;
        grid-template-columns: 20% 16% 16% 16% 16% 16%;
        font-family: 'Michroma';
        list-style-type: none;
    }
    
    .menu-container .inicio{
        justify-self: center;
        align-self: center;
        grid-column-start: 2;
    }
    .menu-container .nosotros{
        justify-self: center;
        align-self: center;
        grid-column-start: 3;
    }
    .menu-container .proyectos{
        justify-self: center;
        align-self: center;
        grid-column-start: 4;
    }
    .menu-container .servicios{
        margin-left: 12px;
        justify-self: center;
        align-self: center;
        grid-column-start: 5;
    }
    .menu-container .contacto{
        justify-self: center;
        align-self: center;
        grid-column-start: 6;
    }

    .menu-container a{
        font-size: 12px;
        font-weight: bold;
        color: black;
    }

    .logopag{
        margin: 5px 0 5px 5px;
        width: 3em;
    }

    .tiulo-container{
        display: grid;
        grid-template-rows: 80% 20%;
        row-gap: 40px;
        transform: translateY(0%);
    }
    .titulo__pag{
        grid-row: 1 / 2;
        font-family: 'Electrolize';
        font-size: 80px;
        color: white;
        margin-top: 5%;
        margin-left: 5%;
    }
    .titulo__subpag{
        grid-row: 2 / -1;
        font-family: 'Michroma';
        font-size: 15px;
        color: white;
        
    }
    
    .footer{
        transform: translateY(30%);
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, auto);
        row-gap: 15%;
    }

    .dev1{
        grid-column: 2 / 3;
        margin-left: 10%;
        
        justify-self: center;
    }
    
    .dev2{
        position: absolute;
        grid-column: 3 / 4;
        justify-self: center;
    }

    #redes{display: flex;
        flex-direction: row;
        grid-column: 2 / 4;
        grid-row: 2 / 3;
        justify-self: center;
        align-self: center;
        margin-left: 15px;
    }
    #copyright{
        grid-column: 1 / 5;
        justify-self: center;
        align-self: center;
        color: white;
    }
    .copyright--uppercase{
        text-transform: uppercase;
        font-size: 10px;
    }

}




/*------------------------------------NOSOTROS------------------------------------*/
.nosotros2{
    transform:translateY(6%);
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: auto;
}
#nosotros__titulo{
    margin: 20px;
    grid-column: 1 / 2;
    font-family: 'Electrolize';
    font-size: 3em;
    color: rgb(252, 252, 252);
}
.nosotros__p{
    margin-left: 10%;
    grid-row: 2 / 3;
    color: white;
    font-family: 'Michroma';
    font-size: 20px;
    text-align: justify;
}

.nosotros__p a{
    color: white;
    font-style: italic;
    transition: color .8s;
}

.nosotros__p a:hover{
    color: gold;
}


#logo__container{
    grid-column: 2 / 3;
    grid-row: 3 / 5;
}


#logo__container :hover{
    transform: rotate(0deg);
    animation-name: logo-rotate;
    animation-duration: 1s;
    animation-delay: 0s;
}
@keyframes logo-rotate{
    100%{ transform: rotate(360deg); }
}


#coderlogo{
    margin-left: 100px;
    width: 30em;
    
}
.nosotros__titulo2{
    margin-top: 60px;
    grid-row: 3 / 4;
    font-family: 'Electrolize';
    font-size: 3em;
    color: rgb(252, 252, 252);
}
.nosotros__p2{
    margin-top: 20px;
    margin-left: 10%;
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    font-family: 'Michroma';
    font-size: 1.3em;
    color: white;
    text-align: justify;
}
.copyright2{
    margin-top: 6%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.copyright--uppercase2{
    grid-column: 2;
    justify-self: center;
    text-transform: uppercase;
    color: white;
}


@media screen and ( max-width: 412px){
    .nosotros2{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, auto);
    }
    #nosotros__titulo{
        margin: 10px;
        grid-column: 1 / 2;
        font-family: 'Electrolize';
        font-size: 2em;
        color: rgb(252, 252, 252);
    }
    .nosotros__p{
        margin: 5%;
        grid-row: 2 / 3;
        color: white;
        font-family: 'Michroma';
        font-size: 12px;
        text-align: justify;
    }
    
    .nosotros__p a{
        color: white;
        font-style: italic;
        transition: color .8s;
    }
    
    .nosotros__p a:hover{
        color: gold;
    }
    
    #logo__container{
        justify-items: center;
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }
    
    #coderlogo{
        width: 10em;
        
    }
    .nosotros__titulo2{
        margin: 60px 0 0 10px;
        grid-column: 1 / 2;
        grid-row: 4 / 5;
        font-family: 'Electrolize';
        font-size: 2em;
        color: rgb(252, 252, 252);
    }
    .nosotros__p2{
        margin: 5%;
        grid-column: 1 / 2;
        grid-row: 5 / 6;
        font-family: 'Michroma';
        font-size: 12px;
        color: white;
        text-align: justify;
    }
    .copyright2{
        margin-top: 6%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .copyright--uppercase2{
        margin-top: 10%;
        grid-column: 1 / 4;
        justify-self: center;
        text-transform: uppercase;
        color: white;
        font-size: 8px;
    }
    
}

@media screen and (max-width: 720px) and (min-width: 413px){
    .nosotros2{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, auto);
    }
    #nosotros__titulo{
        margin: 10px;
        grid-column: 1 / 2;
        font-family: 'Electrolize';
        font-size: 2em;
        color: rgb(252, 252, 252);
    }
    .nosotros__p{
        margin: 5%;
        grid-row: 2 / 3;
        color: white;
        font-family: 'Michroma';
        font-size: 12px;
        text-align: justify;
    }
    
    .nosotros__p a{
        color: white;
        font-style: italic;
        transition: color .8s;
    }
    
    .nosotros__p a:hover{
        color: gold;
    }
    
    #logo__container{
        margin-right: 14%;
        justify-self: center;
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }
    
    #coderlogo{
        width: 18em;
        
    }
    .nosotros__titulo2{
        margin: 60px 0 0 10px;
        grid-column: 1 / 2;
        grid-row: 4 / 5;
        font-family: 'Electrolize';
        font-size: 2em;
        color: rgb(252, 252, 252);
    }
    .nosotros__p2{
        margin: 5%;
        grid-column: 1 / 2;
        grid-row: 5 / 6;
        font-family: 'Michroma';
        font-size: 12px;
        color: white;
        text-align: justify;
    }
    .copyright2{
        margin-top: 6%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .copyright--uppercase2{
        margin-top: 10%;
        grid-column: 1 / 4;
        justify-self: center;
        text-transform: uppercase;
        color: white;
        font-size: 8px;
    }
    
}

@media screen and (max-width: 1366px) and (min-width: 721px){
    .nosotros2{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, auto);
    }
    #nosotros__titulo{
        margin: 10px;
        grid-column: 1 / 2;
        font-family: 'Electrolize';
        font-size: 2.5em;
        color: rgb(252, 252, 252);
    }
    .nosotros__p{
        margin: 2% 5% 0 5%;
        grid-row: 2 / 3;
        color: white;
        font-family: 'Michroma';
        font-size: 16px;
        text-align: justify;
    }
    
    .nosotros__p a{
        color: white;
        font-style: italic;
        transition: color .8s;
    }
    
    .nosotros__p a:hover{
        color: gold;
    }
    
    #logo__container{
        margin: 5% 0 0 -12%;
        justify-self: center;
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }
    
    #coderlogo{
        width: 25em;
        
    }
    .nosotros__titulo2{
        margin: 60px 0 0 10px;
        grid-column: 1 / 2;
        grid-row: 4 / 5;
        font-family: 'Electrolize';
        font-size: 2.5em;
        color: rgb(252, 252, 252);
    }
    .nosotros__p2{
        margin: 5%;
        grid-column: 1 / 2;
        grid-row: 5 / 6;
        font-family: 'Michroma';
        font-size: 16px;
        color: white;
        text-align: justify;
    }
    .copyright2{
        margin-top: 6%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .copyright--uppercase2{
        margin-top: 10%;
        grid-column: 1 / 4;
        justify-self: center;
        text-transform: uppercase;
        color: white;
        font-size: 10px;
    }
}





/*-------------------------------------PROYECTOS--------------------*/
#container-proyectos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
}

.titulo-in{
    grid-column: 1 / 2;
    font-family: 'Electrolize';
    color: white;
    font-size: 3em;
    margin: 80px 0 0 20px;
    padding: 0;
}

.container-img{
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    margin: 2%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: stretch;
    justify-content: center;
}
.container-img__plantillas{
    opacity: 100;
    margin: 20px;
    padding: 10px;
    border: 2px;
    border-style: solid;
    border-color: white;
    border-radius: 25px;
    animation-name: opacity;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
}
@keyframes opacity{
    0%{ opacity: 00;}
}



.trabajos-titulo{
    grid-row: 3 / 4;
    font-family: 'Electrolize';
    color: white;
    font-size: 3em;
}

#container-2-img{
    grid-column: 1 / -1;
    grid-row: 4 / 5;
    transform: translateY(5%);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: stretch;
    justify-content: center;
}

.container-2-img__trabajos{
    margin: 20px;
    padding: 10px;
    border: 2px;
    border-style: solid;
    border-color: white;
    border-radius: 25px;
    animation-name: opacity;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
}
@keyframes opacity{
    0%{ opacity: 00;}
}

@media screen and ( max-width: 412px){
    
    #container-proyectos{
    display: grid;
    grid-auto-rows: auto;
}
    .titulo-in{
        grid-column: 1 / 2;
        font-family: 'Electrolize';
        color: white;
        font-size: 2em;
        margin: 60px 0 0 20px;
        padding: 0;
    }

    .container-img{
        justify-content: center;
    }

    .container-img__plantillas{
        width: 90%;
        margin: 20px;
        padding: 10px;
        border: 2px;
        border-style: solid;
        border-color: white;
        border-radius: 25px;
    }

    .trabajos-titulo{
        grid-row: 3 / 4;
        font-family: 'Electrolize';
        color: white;
        margin: 60px 0 0 20px;
        font-size: 2em;
    }
    
    #container-2-img{
        grid-column: 1 / -1;
        grid-row: 4 / 5;
        transform: translateY(1%);
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-content: stretch;
        justify-content: center;
    }
    
    .container-2-img__trabajos{
        width: 90%;
        margin: 20px;
        padding: 10px;
        border: 2px;
        border-style: solid;
        border-color: white;
        border-radius: 25px;
    }
}

@media screen and (max-width: 720px) and (min-width: 413px){
    
    #container-proyectos{
    display: grid;
    grid-auto-rows: auto;
}
    .titulo-in{
        grid-column: 1 / 2;
        font-family: 'Electrolize';
        color: white;
        font-size: 2em;
        margin: 60px 0 0 20px;
        padding: 0;
    }

    .container-img{
        justify-content: center;
    }

    .container-img__plantillas{
        width: 90%;
        margin: 20px;
        padding: 10px;
        border: 2px;
        border-style: solid;
        border-color: white;
        border-radius: 25px;
    }
    
    .trabajos-titulo{
        grid-row: 3 / 4;
        font-family: 'Electrolize';
        color: white;
        margin: 60px 0 0 20px;
        font-size: 2em;
    }
    
    #container-2-img{
        grid-column: 1 / -1;
        grid-row: 4 / 5;
        transform: translateY(1%);
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-content: stretch;
        justify-content: center;
    }
    
    .container-2-img__trabajos{
        width: 90%;
        margin: 20px;
        padding: 10px;
        border: 2px;
        border-style: solid;
        border-color: white;
        border-radius: 25px;
    }
    
}

@media screen and (max-width: 1366px) and (min-width: 721px){
    .titulo-in{
        grid-column: 1 / 2;
        font-family: 'Electrolize';
        color: white;
        font-size: 2.6em;
        margin: 60px 0 0 20px;
        padding: 0;
    }
    .trabajos-titulo{
        grid-row: 3 / 4;
        font-family: 'Electrolize';
        color: white;
        margin: 60px 0 0 20px;
        font-size: 2em;
    }
}


/*---------------------------------SERVICIOS----------------------*/
.container-tarjetas{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto;
}

#services{
    margin: 80px 0 0 20px;
    grid-column: 1 / 2;
    font-family: 'Electrolize';
    font-size: 3em;
    color: rgb(252, 252, 252);
}


#titulo-center{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin: 5%;
    font-family: 'Michroma';
    font-size: 25px;
    padding: 10px;
    color: black;
    background-color: white;
    border-radius: 10px;
    align-self: center;
    justify-self: center;
}

#tarjeta1__lista1{
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    justify-self: center;
}

.tarjeta1{
    color: black;
    background-color:gray;
    padding:50px 200px 50px 200px;
    border-radius: 15px;
    border: 2px;
    border-style: solid;
    border-color: white;
    transition: background-color .8s;
}

.tarjeta1:hover{
    color: black;
    background-color: lightgray;
}

.tarjeta1 ul li{
    font-family: 'Michroma';
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tarjeta1 h3{
    font-family: 'Electrolize';
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 35px;
}






#titulo-center2{
    grid-column: 2 / 3;
    grid-row: 5 / 6;
    align-self: center;
    justify-self: center;
    margin: 5%;
    font-family: 'Michroma';
    font-size: 25px;
    padding: 10px;
    color: black;
    background-color: white;
    border-radius: 10px;
}

#tarjeta2__lista2{
    grid-column: 2 / 3;
    grid-row: 6 / 7;
}

.tarjeta2{
    grid-column: 2 / 3;
    grid-row: 7 / 8;
    color: black;
    background-color:gray;
    padding:50px 200px 50px 200px;
    border-radius: 15px;
    border: 2px;
    border-style: solid;
    border-color: white;
    transition: background-color .8s;
}

.tarjeta2 ul li{
    font-family: 'Michroma';
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tarjeta2 h3{
    font-family: 'Electrolize';
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 35px;
}

.tarjeta2:hover{
    color: black;
    background-color: lightgray;
}

.copyright3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.copyright--uppercase3{
    margin: 5% 0 2% 0;
    grid-column: 2;
    align-self: center;
    justify-self: center;
    text-transform: uppercase;
    color: white;
}


@media screen and ( max-width: 412px){

    .menu-container{
        display: grid;
        grid-template-columns: 5% 19% 19% 19% 19% 19%;
        font-family: 'Michroma';
        list-style-type: none;
    }
    
    .menu-container .inicio{
        justify-self: end;
        align-self: start;
        grid-column-start: 2;
    }
    .menu-container .nosotros{
        justify-self: center;
        align-self: start;
        grid-column-start: 3;
    }
    .menu-container .proyectos{
        justify-self: center;
        align-self: start;
        grid-column-start: 4;
    }
    .menu-container .servicios{
        margin-left: 10px;
        justify-self: center;
        align-self: start;
        grid-column-start: 5;
    }
    .menu-container .contacto{
        justify-self: center;
        align-self: start;
        grid-column-start: 6;
    }

    .menu-container a{
        font-size: 5px;
        font-weight: bold;
        color: black;
    }

    .logopag{
        margin: 5px 0 5px 5px;
        width: 3em;
    }

    
    .container-tarjetas{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    #services{
        margin: 40px 0 0 20px;
        grid-column: 1 / 2;
        font-family: 'Electrolize';
        font-size: 2em;
        color: rgb(252, 252, 252);
    }

    #titulo-center{
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        margin: 5%;
        font-family: 'Michroma';
        font-size: 15px;
        padding: 10px;
        color: black;
        background-color: white;
        border-radius: 10px;
        align-self: center;
        justify-self: center;
    }

    #tarjeta1__lista1{
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }
    
    .tarjeta1{
        color: black;
        background-color:gray;
        padding: 0px;
        border-radius: 15px;
        border: 2px;
        border-style: solid;
        border-color: white;
        transition: background-color .8s;
    }
    
    
    .tarjeta1 ul li{
        font-family: 'Michroma';
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 10px;
        padding: 10px;
    }
    
    .tarjeta1 h3{
        font-family: 'Electrolize';
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 20px;
        padding: 5%;
    }

    #titulo-center2{
        grid-column: 1 / 2;
        grid-row: 5 / 6;
        align-self: center;
        justify-self: center;
        margin: 12% 0 0 5%;
        font-family: 'Michroma';
        font-size: 15px;
        padding: 10px;
        color: black;
        background-color: white;
        border-radius: 10px;
    }
    
    #tarjeta2__lista2{
        grid-column: 1 / 2;
        grid-row: 6 / 7;
    }
    
    .tarjeta2{
        margin: 25px;
        color: black;
        background-color:gray;
        padding: 0px;
        border-radius: 15px;
        border: 2px;
        border-style: solid;
        border-color: white;
        transition: background-color .8s;
    }
    
    .tarjeta2 ul li{
        font-family: 'Michroma';
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 10px;
        padding: 10px;
    }
    
    .tarjeta2 h3{
        font-family: 'Electrolize';
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 15px;
        padding: 5%;
    }
    

    .copyright--uppercase3{
        grid-column: 1 / -1;
        text-align: center;
    }
}

@media screen and (max-width: 720px) and (min-width: 413px){

    .menu-container{
        display: grid;
        grid-template-columns: 5% 19% 19% 19% 19% 19%;
        font-family: 'Michroma';
        list-style-type: none;
    }

    .menu-container a{
        font-size: 10px;
        font-weight: bold;
        color: black;
    }

    .container-tarjetas{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    #services{
        margin: 50px 0 0 20px;
        grid-column: 1 / 2;
        font-family: 'Electrolize';
        font-size: 2em;
        color: rgb(252, 252, 252);
    }

    #titulo-center{
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        margin: 5%;
        font-family: 'Michroma';
        font-size: 15px;
        padding: 10px;
        color: black;
        background-color: white;
        border-radius: 10px;
        align-self: center;
        justify-self: center;
    }

    #tarjeta1__lista1{
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }
    
    .tarjeta1{
        color: black;
        background-color:gray;
        padding: 0px;
        border-radius: 15px;
        border: 2px;
        border-style: solid;
        border-color: white;
        transition: background-color .8s;
    }
    
    
    .tarjeta1 ul li{
        font-family: 'Michroma';
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 13px;
        padding: 10px;
    }
    
    .tarjeta1 h3{
        font-family: 'Electrolize';
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 20px;
        padding: 5%;
    }

    #titulo-center2{
        grid-column: 1 / 2;
        grid-row: 5 / 6;
        align-self: center;
        justify-self: center;
        margin: 12% 0 0 5%;
        font-family: 'Michroma';
        font-size: 15px;
        padding: 10px;
        color: black;
        background-color: white;
        border-radius: 10px;
    }
    
    #tarjeta2__lista2{
        grid-column: 1 / 2;
        grid-row: 6 / 7;
    }
    
    .tarjeta2{
        margin: 5% 18% 5% 18%;
        color: black;
        background-color:gray;
        padding: 0px;
        border-radius: 15px;
        border: 2px;
        border-style: solid;
        border-color: white;
        transition: background-color .8s;
    }
    
    .tarjeta2 ul li{
        font-family: 'Michroma';
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 13px;
        padding: 10px;
    }
    
    .tarjeta2 h3{
        font-family: 'Electrolize';
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 20px;
        padding: 5%;
    }
    

    .copyright--uppercase3{
        grid-column: 1 / -1;
        text-align: center;
    }
}

@media screen and (max-width: 1366px) and (min-width: 721px){

    .container-tarjetas{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    #services{
        margin: 60px 0 0 20px;
        grid-column: 1 / 2;
        font-family: 'Electrolize';
        font-size: 2em;
        color: rgb(252, 252, 252);
    }

    #titulo-center{
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        margin: 5%;
        font-family: 'Michroma';
        font-size: 15px;
        padding: 10px;
        color: black;
        background-color: white;
        border-radius: 10px;
        align-self: center;
        justify-self: center;
    }

    #tarjeta1__lista1{
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }
    
    .tarjeta1{
        color: black;
        background-color:gray;
        padding: 0px;
        border-radius: 15px;
        border: 2px;
        border-style: solid;
        border-color: white;
        transition: background-color .8s;
    }
    
    
    .tarjeta1 ul li{
        font-family: 'Michroma';
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 13px;
        padding: 10px;
    }
    
    .tarjeta1 h3{
        font-family: 'Electrolize';
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 20px;
        padding: 5%;
    }

    #titulo-center2{
        grid-column: 1 / 2;
        grid-row: 5 / 6;
        align-self: center;
        justify-self: center;
        margin: 12% 0 0 5%;
        font-family: 'Michroma';
        font-size: 15px;
        padding: 10px;
        color: black;
        background-color: white;
        border-radius: 10px;
    }
    
    #tarjeta2__lista2{
        grid-column: 1 / 2;
        grid-row: 6 / 7;
    }
    
    .tarjeta2{
        margin: 5% 30% 5% 30%;
        color: black;
        background-color:gray;
        padding: 0px;
        border-radius: 15px;
        border: 2px;
        border-style: solid;
        border-color: white;
        transition: background-color .8s;
    }
    
    .tarjeta2 ul li{
        font-family: 'Michroma';
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 13px;
        padding: 10px;
    }
    
    .tarjeta2 h3{
        font-family: 'Electrolize';
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 20px;
        padding: 5%;
    }
    

    .copyright--uppercase3{
        grid-column: 1 / -1;
        text-align: center;
    }

}

/*----------------------------------CONTACTO-------------------------*/


.titulo-contacto{
    transform: translateY(75px);
    font-family: 'Electrolize';
    color: rgb(255, 255, 255);
    font-size: 3em;
    margin-left: 20px;

}



#form-container{
    margin-top: 6%;
    margin-left: 3%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
}

.container{
    transform: translateY(5%);
}

.col-2{
    color: white;
}
.col-22{
    margin-left: 15px;
}
.col-form-label{
    color: white;
}
.form-check-label{
    color: white;
    margin: 8px 0 20px 0;
}

.formulario-contacto__nombre{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    font-family: 'Michroma';
    color: white;
}
#nombre[type=text] {
    font-family: 'Michroma';
    width: 44.5%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 100px;
}



.formulario-contacto__apellido{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    font-family: 'Michroma';
    color: white;
}
#apellido[type=text] {
    font-family: 'Michroma';
    width: 45%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 100px;
}



.formulario-contacto__telefono{
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    font-family: 'Michroma';
    color: white;
}
#telefono[type=number]{
    font-family: 'Michroma';
    width: 31.9%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 100px;
}



.formulario-contacto__fecha-nacimiento{
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    font-family: 'Michroma';
    color: white;
}
#date[type=date]{
    font-family: 'Michroma';
    width: 30.2%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 100px;
}



.formulario-contacto__email{
    grid-column: 1 / 2;
    grid-row: 5 / 6;
    font-family: 'Michroma';
    color: white;
}
#email[type=text]{
    font-family: 'Michroma';
    width: 33%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 100px;
}



.titulo-dejanos{
    grid-column: 1 / 2;
    grid-row: 6 / 7;
    font-family: 'Michroma';
    font-size: 20px;
    color: white;
    margin-top: 35px;
}
.dejar-mensaje{
    grid-column: 1 / 2;
    grid-row: 7 / 8;
    width: 100%;
}
#dejar-mensaje__area{
    margin-top: 2%;
    margin-left: 4%;
    width: 50%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}



.enviar[type=button], [type=submit]{
    margin-top: 2%;
    margin-left: 5%;
    font-family: 'Electrolize';
    font-size: 15px;
    font-weight: bold;
    border: none;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    padding: 10px 28px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 20px;
}
.enviar{
    grid-column: 1 / 2;
    grid-row: 8 / 9;
    font-family: 'Michroma';
    font-size: 13px;
    color: white;
    margin-top: 2%;
    margin-left: 25px;
}



.titulo-aprende{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    font-family: 'Michroma';
    font-size: 20px;
    color: white;
}

.container-select{
    position: relative;
    top: 50%;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    width: 80%;
}
#select[id=select]{
    font-family: 'Michroma';
    width: 35%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 100px;
}



.lineasdecontacto{
    display: inline;
    position: absolute;
    left: 51.5%;
    bottom: 75%;
    width: 40%;
}
.lineasdecontacto__tel{
    font-family: 'Michroma';
    color: white;
    position: absolute;
    top: 15%;
    left: 4%;
}
.mail{
    position: absolute;
    top: 4.8em;
    left: 0;
}
.lineasdecontacto__mail{
    font-family: 'Michroma';
    color: white;
    position: absolute;
    left: 2.5em;
    top: 5.2em;
}
.street{
    position: absolute;
    left: 0;
    top: 9.5em;
}
.lineasdecontacto__street1{
    font-family: 'Michroma';
    color: white;
    position: absolute;
    left: 5%;
    top: 9em;
}
.lineasdecontacto__street2{
    font-family: 'Michroma';
    color: white;
    position: absolute;
    left: 5%;
    top: 10.5em;
}
.lineasdecontacto__street3{
    font-family: 'Michroma';
    color: white;
    position: absolute;
    left: 5%;
    top: 11.9em;
}



.google-maps{
    position: absolute;
    left: 51.5%;
    bottom: 20%;
}



.footer-contact{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
#copyright4{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    align-self: end;
    justify-self: center;
}
.copyright--uppercase4{
    text-transform: uppercase;
    color: white;
}
#redes2{
    margin-top: 10px;
    grid-column: 3 / 4;
    justify-self: end;
}

@media screen and ( max-width: 412px){

    .menu-container{
        display: grid;
        grid-template-columns: 5% 19% 19% 19% 19% 19%;
        font-family: 'Michroma';
        list-style-type: none;
    }

    #unique{
        position: fixed;
        width: 100%;
        z-index: 10;
    }

    .titulo-contacto{
        transform: translateY(38px);
        font-family: 'Electrolize';
        color: rgb(255, 255, 255);
        font-size: 2em;
        margin-left: 20px;
    
    }
    
    
    
    #form-container{
        margin-top: 18%;
        margin-left: 3%;
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
    }

    .formulario-contacto__nombre{
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        font-size: 15px;
        font-family: 'Michroma';
        color: white;
    }
    #nombre[type=text] {
        font-size: 10px;
        font-family: 'Michroma';
        width: 77%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border: 2px solid rgb(0, 0, 0);
        border-radius: 100px;
    }

    .formulario-contacto__apellido{
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        font-size: 15px;
        font-family: 'Michroma';
        color: white;
    }
    #apellido[type=text] {
        font-size: 10px;
        font-family: 'Michroma';
        width: 78%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border: 2px solid rgb(0, 0, 0);
        border-radius: 100px;
    }
    
    
    
    .formulario-contacto__telefono{
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        font-size: 15px;
        font-family: 'Michroma';
        color: white;
    }
    #telefono[type=number]{
        font-size: 10px;
        font-family: 'Michroma';
        width: 47%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border: 2px solid rgb(0, 0, 0);
        border-radius: 100px;
    }
    
    
    
    .formulario-contacto__fecha-nacimiento{
        grid-column: 1 / 2;
        grid-row: 4 / 5;
        font-size: 15px;
        font-family: 'Michroma';
        color: white;
    }
    #date[type=date]{
        font-size: 10px;
        font-family: 'Michroma';
        width: 43%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border: 2px solid rgb(0, 0, 0);
        border-radius: 100px;
    }
    
    
    
    .formulario-contacto__email{
        grid-column: 1 / 2;
        grid-row: 5 / 6;
        font-size: 15px;
        font-family: 'Michroma';
        color: white;
    }
    #email[type=text]{
        font-size: 10px;
        font-family: 'Michroma';
        width: 50%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border: 2px solid rgb(0, 0, 0);
        border-radius: 100px;
    }

    .titulo-dejanos{
        grid-column: 1 / 2;
        grid-row: 6 / 7;
        font-family: 'Michroma';
        font-size: 15px;
        color: white;
        margin-top: 35px;
    }
    .dejar-mensaje{
        grid-column: 1 / 2;
        grid-row: 7 / 8;
        width: 100%;
    }
    #dejar-mensaje__area{
        margin-top: 2%;
        margin-left: 4%;
        width: 90%;
        height: 150px;
        padding: 12px 20px;
        box-sizing: border-box;
        border: 2px solid rgb(0, 0, 0);
        border-radius: 4px;
        background-color: #f8f8f8;
        resize: none;
    }
    
    .titulo-aprende{
        margin-top: 10%;
        grid-column: 1 / 2;
        grid-row: 9 / 10;
        font-family: 'Michroma';
        font-size: 15px;
        color: white;
    }
    
    .container-select{
        grid-column: 1 / 2;
        grid-row: 10 / 11;
        width: 80%;
    }
    #select[id=select]{
        font-size: 10px;
        font-family: 'Michroma';
        width: 70%;
        padding: 12px 20px;
        margin: 0px 0;
        box-sizing: border-box;
        border: 2px solid rgb(0, 0, 0);
        border-radius: 100px;
    }

    .lineasdecontacto{
        position: absolute;
        left: 5%;
        top: 145%;
        width: 100%;
    }
    .lineasdecontacto__tel{
        font-size: 10px;
        font-family: 'Michroma';
        color: white;
        position: absolute;
        margin-top: 5%;
        left: 10%;
    }
    .mail{
        position: absolute;
        top: 4.8em;
        left: 0;
    }
    .lineasdecontacto__mail{
        font-size: 13px;
        font-family: 'Michroma';
        color: white;
        position: absolute;
        left: 4em;
        top: 6.8em;
    }
    .street{
        position: absolute;
        left: 0;
        top: 9.5em;
    }
    .lineasdecontacto__street1{
        font-family: 'Michroma';
        color: white;
        position: absolute;
        left: 3em;
        top: 9em;
    }
    .lineasdecontacto__street2{
        font-family: 'Michroma';
        color: white;
        position: absolute;
        left: 3em;
        top: 10.5em;
    }
    .lineasdecontacto__street3{
        font-family: 'Michroma';
        color: white;
        position: absolute;
        left: 3em;
        top: 11.9em;
    }

    .google-maps{
        position: absolute;
        left: 0%;
        top: 170%;
    }

    .footer-contact{
        margin-left: 15px;
        transform: translateY(640%);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    
    #copyright4{
        grid-column: 1 / 4;
        grid-row: 2 / 3;
        align-self: center;
        justify-self: center;
    }
    .copyright--uppercase4{
        text-transform: uppercase;
        color: white;
    }
    #redes2{
        margin-top: 10px;
        grid-column: 1 / 4;
        justify-self: center;
    }
}

@media screen and (max-width: 720px) and (min-width: 413px){

        #unique{
            position: fixed;
            width: 100%;
            z-index: 10;
        }
    
        .titulo-contacto{
            transform: translateY(38px);
            font-family: 'Electrolize';
            color: rgb(255, 255, 255);
            font-size: 2em;
            margin-left: 20px;
        
        }
        
        
        
        #form-container{
            margin-top: 18%;
            margin-left: 3%;
            display: grid;
            grid-template-columns: 1fr;
            grid-auto-rows: auto;
        }
    
        .formulario-contacto__nombre{
            grid-column: 1 / 2;
            grid-row: 1 / 2;
            font-size: 15px;
            font-family: 'Michroma';
            color: white;
        }
        #nombre[type=text] {
            font-size: 10px;
            font-family: 'Michroma';
            width: 77%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
            border: 2px solid rgb(0, 0, 0);
            border-radius: 100px;
        }
    
        .formulario-contacto__apellido{
            grid-column: 1 / 2;
            grid-row: 2 / 3;
            font-size: 15px;
            font-family: 'Michroma';
            color: white;
        }
        #apellido[type=text] {
            font-size: 10px;
            font-family: 'Michroma';
            width: 78%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
            border: 2px solid rgb(0, 0, 0);
            border-radius: 100px;
        }
        
        
        
        .formulario-contacto__telefono{
            grid-column: 1 / 2;
            grid-row: 3 / 4;
            font-size: 15px;
            font-family: 'Michroma';
            color: white;
        }
        #telefono[type=number]{
            font-size: 10px;
            font-family: 'Michroma';
            width: 47%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
            border: 2px solid rgb(0, 0, 0);
            border-radius: 100px;
        }
        
        
        
        .formulario-contacto__fecha-nacimiento{
            grid-column: 1 / 2;
            grid-row: 4 / 5;
            font-size: 15px;
            font-family: 'Michroma';
            color: white;
        }
        #date[type=date]{
            font-size: 10px;
            font-family: 'Michroma';
            width: 43%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
            border: 2px solid rgb(0, 0, 0);
            border-radius: 100px;
        }
        
        
        
        .formulario-contacto__email{
            grid-column: 1 / 2;
            grid-row: 5 / 6;
            font-size: 15px;
            font-family: 'Michroma';
            color: white;
        }
        #email[type=text]{
            font-size: 10px;
            font-family: 'Michroma';
            width: 50%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
            border: 2px solid rgb(0, 0, 0);
            border-radius: 100px;
        }
    
        .titulo-dejanos{
            grid-column: 1 / 2;
            grid-row: 6 / 7;
            font-family: 'Michroma';
            font-size: 15px;
            color: white;
            margin-top: 35px;
        }
        .dejar-mensaje{
            grid-column: 1 / 2;
            grid-row: 7 / 8;
            width: 100%;
        }
        #dejar-mensaje__area{
            margin-top: 2%;
            margin-left: 4%;
            width: 90%;
            height: 150px;
            padding: 12px 20px;
            box-sizing: border-box;
            border: 2px solid rgb(0, 0, 0);
            border-radius: 4px;
            background-color: #f8f8f8;
            resize: none;
        }
        
        .titulo-aprende{
            margin-top: 10%;
            grid-column: 1 / 2;
            grid-row: 9 / 10;
            font-family: 'Michroma';
            font-size: 15px;
            color: white;
        }
        
        .container-select{
            grid-column: 1 / 2;
            grid-row: 10 / 11;
            width: 80%;
        }
        #select[id=select]{
            font-size: 10px;
            font-family: 'Michroma';
            width: 70%;
            padding: 12px 20px;
            margin: 0px 0;
            box-sizing: border-box;
            border: 2px solid rgb(0, 0, 0);
            border-radius: 100px;
        }
    
        .lineasdecontacto{
            position: absolute;
            left: 5%;
            top: 135%;
            width: 100%;
        }
        .lineasdecontacto__tel{
            font-size: 10px;
            font-family: 'Michroma';
            color: white;
            position: absolute;
            margin-top: 5%;
            left: 10%;
        }
        .mail{
            position: absolute;
            top: 4.8em;
            left: 0;
        }
        .lineasdecontacto__mail{
            font-size: 13px;
            font-family: 'Michroma';
            color: white;
            position: absolute;
            left: 4em;
            top: 6.8em;
        }
        .street{
            position: absolute;
            left: 0;
            top: 9.5em;
        }
        .lineasdecontacto__street1{
            font-family: 'Michroma';
            color: white;
            position: absolute;
            left: 3em;
            top: 9em;
        }
        .lineasdecontacto__street2{
            font-family: 'Michroma';
            color: white;
            position: absolute;
            left: 3em;
            top: 10.5em;
        }
        .lineasdecontacto__street3{
            font-family: 'Michroma';
            color: white;
            position: absolute;
            left: 3em;
            top: 11.9em;
        }
    
        .google-maps{
            position: absolute;
            left: 0%;
            top: 170%;
        }
    
        .footer-contact{
            margin-left: 15px;
            transform: translateY(640%);
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
        }
        
        #copyright4{
            grid-column: 1 / 4;
            grid-row: 2 / 3;
            align-self: center;
            justify-self: center;
        }
        .copyright--uppercase4{
            text-transform: uppercase;
            color: white;
        }
        #redes2{
            margin-top: 10px;
            grid-column: 1 / 4;
            justify-self: center;
        }
}

@media screen and (max-width: 1366px) and (min-width: 721px){
    
        #unique{
            position: fixed;
            width: 100%;
            z-index: 10;
        }
    
        .titulo-contacto{
            transform: translateY(55px);
            font-family: 'Electrolize';
            color: rgb(255, 255, 255);
            font-size: 2em;
            margin-left: 20px;
        
        }
        
        
        
        #form-container{
            margin-top: 10%;
            margin-left: 3%;
            display: grid;
            grid-template-columns: 1fr;
            grid-auto-rows: auto;
        }
    
        .formulario-contacto__nombre{
            grid-column: 1 / 2;
            grid-row: 1 / 2;
            font-size: 15px;
            font-family: 'Michroma';
            color: white;
        }
        #nombre[type=text] {
            font-size: 10px;
            font-family: 'Michroma';
            width: 76.3%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
            border: 2px solid rgb(0, 0, 0);
            border-radius: 100px;
        }
    
        .formulario-contacto__apellido{
            grid-column: 1 / 2;
            grid-row: 2 / 3;
            font-size: 15px;
            font-family: 'Michroma';
            color: white;
        }
        #apellido[type=text] {
            font-size: 10px;
            font-family: 'Michroma';
            width: 77%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
            border: 2px solid rgb(0, 0, 0);
            border-radius: 100px;
        }
        
        
        
        .formulario-contacto__telefono{
            grid-column: 1 / 2;
            grid-row: 3 / 4;
            font-size: 15px;
            font-family: 'Michroma';
            color: white;
        }
        #telefono[type=number]{
            font-size: 10px;
            font-family: 'Michroma';
            width: 62.8%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
            border: 2px solid rgb(0, 0, 0);
            border-radius: 100px;
        }
        
        
        
        .formulario-contacto__fecha-nacimiento{
            grid-column: 1 / 2;
            grid-row: 4 / 5;
            font-size: 15px;
            font-family: 'Michroma';
            color: white;
        }
        #date[type=date]{
            font-size: 10px;
            font-family: 'Michroma';
            width: 61%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
            border: 2px solid rgb(0, 0, 0);
            border-radius: 100px;
        }
        
        
        
        .formulario-contacto__email{
            grid-column: 1 / 2;
            grid-row: 5 / 6;
            font-size: 15px;
            font-family: 'Michroma';
            color: white;
        }
        #email[type=text]{
            font-size: 10px;
            font-family: 'Michroma';
            width: 64%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
            border: 2px solid rgb(0, 0, 0);
            border-radius: 100px;
        }
    
        .titulo-dejanos{
            grid-column: 1 / 2;
            grid-row: 6 / 7;
            font-family: 'Michroma';
            font-size: 15px;
            color: white;
            margin-top: 35px;
        }
        .dejar-mensaje{
            grid-column: 1 / 2;
            grid-row: 7 / 8;
            width: 100%;
        }
        #dejar-mensaje__area{
            margin-top: 2%;
            margin-left: 4%;
            width: 82.6%;
            height: 150px;
            padding: 12px 20px;
            box-sizing: border-box;
            border: 2px solid rgb(0, 0, 0);
            border-radius: 4px;
            background-color: #f8f8f8;
            resize: none;
        }
        
        .titulo-aprende{
            margin-top: 10%;
            grid-column: 1 / 2;
            grid-row: 9 / 10;
            font-family: 'Michroma';
            font-size: 15px;
            color: white;
        }
        
        .container-select{
            grid-column: 1 / 2;
            grid-row: 10 / 11;
            width: 80%;
        }
        #select[id=select]{
            font-size: 10px;
            font-family: 'Michroma';
            width: 70%;
            padding: 12px 20px;
            margin: 0px 0;
            box-sizing: border-box;
            border: 2px solid rgb(0, 0, 0);
            border-radius: 100px;
        }
    
        .lineasdecontacto{
            position: absolute;
            left: 5%;
            top: 85%;
            width: 100%;
        }
        .lineasdecontacto__tel{
            font-size: 10px;
            font-family: 'Michroma';
            color: white;
            position: absolute;
            margin-top: 2%;
            left: 5%;
        }
        .mail{
            position: absolute;
            top: 4.8em;
            left: 0;
        }
        .lineasdecontacto__mail{
            font-size: 13px;
            font-family: 'Michroma';
            color: white;
            position: absolute;
            left: 4em;
            top: 6.8em;
        }
        .street{
            position: absolute;
            left: 0;
            top: 9.5em;
        }
        .lineasdecontacto__street1{
            font-family: 'Michroma';
            color: white;
            position: absolute;
            left: 3em;
            top: 9em;
        }
        .lineasdecontacto__street2{
            font-family: 'Michroma';
            color: white;
            position: absolute;
            left: 3em;
            top: 10.5em;
        }
        .lineasdecontacto__street3{
            font-family: 'Michroma';
            color: white;
            position: absolute;
            left: 3em;
            top: 11.9em;
        }
    
        .google-maps{
            position: absolute;
            left: 0%;
            top: 105%;
            margin-left: 80px;
        }
    
        .footer-contact{
            margin-left: 15px;
            transform: translateY(640%);
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
        }
        
        #copyright4{
            grid-column: 1 / 4;
            grid-row: 2 / 3;
            align-self: center;
            justify-self: center;
        }
        .copyright--uppercase4{
            text-transform: uppercase;
            color: white;
        }
        #redes2{
            margin-top: 10px;
            grid-column: 1 / 4;
            justify-self: center;
        }
}